.header
  background-color: #cdf
  transition: background-color 0.25s ease
  margin: auto
  margin: 10px
  border-radius: 20px
  padding: 
    left: 50px
    right: 50px

  &:hover
    background-color: #baf

  h1
    color: #87c
    font-size: 2em
    display:  block
    margin: 0

  img
    justify-self: center

.logo
  animation: App-logo-spin infinite 20s linear
  height: 80px

@keyframes App-logo-spin 
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)