.header
  background-color: plum
  transition: background-color 0.25s ease
  margin: 5px
  padding: 
    left: 50px
    right: 50px
  grid-auto-rows: auto
  box-shadow: 2px 2px 5px gray

  &:hover
    background-color: darken(plum, 8%)
    h1
      color: darken(plum, 36%)
    p
      color: darken(#000, 20%)
    .contacts
      opacity: 1

  h1
    transition: color 0.25s ease
    color: plum
    font-size: 2em
    display:  block
    margin: 0
    align-self: center
  
  p
    margin: 0
    font-size: 18px
    color: #222
    display: block
    align-self: center

